# dependencies
rigly_frontend/node_modules
rigly_frontend/.pnp
rigly_frontend/.pnp.js

# testing
rigly_frontend/coverage

# production
rigly_frontend/build

# misc
rigly_frontend/.DS_Store
rigly_frontend/.env.local
rigly_frontend/.env.development.local
rigly_frontend/.env.test.local
rigly_frontend/.env.production.local

rigly_frontend/npm-debug.log*
rigly_frontend/yarn-debug.log*
rigly_frontend/yarn-error.log*



.DS_STORE
rigly_frontend/node_modules
rigly_frontend/scripts/flow/*/.flowconfig
rigly_frontend/.flowconfig
rigly_frontend/*~
rigly_frontend/*.pyc
rigly_frontend/.grunt
rigly_frontend/_SpecRunner.html
rigly_frontend/__benchmarks__
rigly_frontend/build/
rigly_frontend/remote-repo/
rigly_frontend/coverage/
rigly_frontend/.module-cache
rigly_frontend/fixtures/dom/public/react-dom.js
rigly_frontend/fixtures/dom/public/react.js
rigly_frontend/test/the-files-to-test.generated.js
rigly_frontend/*.log*
rigly_frontend/chrome-user-data
rigly_frontend/*.sublime-project
rigly_frontend/*.sublime-workspace
rigly_frontend/.idea
rigly_frontend/*.iml
rigly_frontend/.vscode
rigly_frontend/*.swp
rigly_frontend/*.swo
rigly_frontend/.env

rigly_frontend/packages/react-devtools-core/dist
rigly_frontend/packages/react-devtools-extensions/chrome/build
rigly_frontend/packages/react-devtools-extensions/chrome/*.crx
rigly_frontend/packages/react-devtools-extensions/chrome/*.pem
rigly_frontend/packages/react-devtools-extensions/firefox/build
rigly_frontend/packages/react-devtools-extensions/firefox/*.xpi
rigly_frontend/packages/react-devtools-extensions/firefox/*.pem
rigly_frontend/packages/react-devtools-extensions/shared/build
rigly_frontend/packages/react-devtools-extensions/.tempUserDataDir
rigly_frontend/packages/react-devtools-inline/dist
rigly_frontend/packages/react-devtools-shell/dist
rigly_frontend/packages/react-devtools-timeline/dist
