<div style="padding: 38px 20px; background-color: #ffffff;">
    <div style="color: #252525; font-weight: 400; font-size: 17px;">Someone placed a higher bid than you.</div>
    <div style="color: #252525; font-weight: 400; font-size: 17px;">&nbsp;</div>
    <div style="color: #252525; font-weight: 400; font-size: 17px;">If you want to win this auction, please make a
        bid.
    </div>
    <div style="font-family: 'Cabin', sans-serif; color: #252525; font-size: 18px; font-weight: 600; margin-top: 24px;">
        Product Information
    </div>
    <div style="display: flex;">
        <div>&nbsp;</div>
        <div>
            <div style="color: #252525; font-size: 17px; padding-left: 20px;">Product name- <span
                    style="font-family: 'Cabin', sans-serif; color: #e94b3f; font-size: 18px; font-weight: 600;">{{product_name}}</span>
            </div>
            <div style="color: #252525; font-size: 17px; padding-left: 20px; margin-bottom: 24px;">Your bid-
                {{currency}} {{your_bid}}
            </div>
        </div>
    </div>
    <a href="{{frontend_domain_url}}/product/{{product_handle}}">
        <button style="color: #ffffff; font-size: 17px; width: 152px; height: 48px; background-color: #e94b3f; border: 0; border-radius: 3px; cursor: pointer;">
            Place a Bid
        </button>
    </a>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;"><strong>Bidding Tip</strong></p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">When you bid, enter your highest
        bid. For example:</p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;"><img
            src="https://cdn.shopify.com/s/files/1/0603/6648/7720/files/proxy_bid.jpg?v=1670272846" alt="enter your bid"
            width="301" height="287"/></p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">- Bids will be placed on your behalf
        as the auction runs</p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">- Your bid is only raised after
        another bidder places their bid</p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">This way, you only need to place 1
        bid and let Rigly do the rest!</p>
    <p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">Thanks,<br/>&nbsp; Team Rigly</p>
</div>
