<div class="containerbox" style="width: 100%; max-width: 600px; font-family: Helvetica, Arial, sans-serif; font-weight: 400;"><center><!-- [if !mso]><!-->
<table style="width: 100%; font-family: Helvetica, Arial, sans-serif; font-weight: 400; max-width: 600px !important; border-spacing: 0px; border-width: medium; border-style: none; border-collapse: collapse;" cellspacing="0" cellpadding="0" bgcolor="#ffffff"><!--<![endif]--> <!-- [if gte mso 9]><table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="600" style="font-family: Helvetica, Arial, sans-serif; font-weight: 400; "><![endif]--> <!--Body-->
<tbody>
<tr style="border-spacing: 0px;">
<td style="border-spacing: 0px;" width="100%">
<table style="border-spacing: 0px; border-width: medium; border-style: none; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="0" align="left">
<tbody>
<tr style="border-spacing: 0px;">
<td class="mains" style="text-align: left; border-spacing: 0px;">
<div class="region">
<table class="row aw-stack" style="width: 100%; border-spacing: 0px; border-width: medium; border-style: none; border-collapse: collapse;" role="presentation">
<tbody>
<tr style="border-spacing: 0px;">
<td class="container" style="padding: 10px 25px 0px; width: 100%; border-spacing: 0px;" valign="top" width="100%">
<div class="definition-parent"><!--Paragraph-->
<div class="paragraph" style="font-size: 16px; color: #505e67; line-height: 1.5em;">
<p>Hello!</p>
<p>You have <span style="font-weight: bold;">won</span> an auction:</p>
<p><strong>Auction Information</strong></p>
<div style="padding-left: 20px;">{{product_name}}</div>
<div style="padding-left: 20px;">Winning bid: {{bid_amount}} {{currency}}</div>
</div>
<div class="paragraph" style="font-size: 16px; color: #505e67; line-height: 1.5em;">&nbsp;</div>
<div class="paragraph" style="font-size: 16px; color: #505e67; line-height: 1.5em;">Please send payment in bitcoin to:</div>
<div class="paragraph" style="font-size: 16px; color: #505e67; line-height: 1.5em;">&nbsp; 3E3ytRSyhAETMbxrigmUXQgbhHZtDs5zjF</div>
<p><strong><img src="https://cdn.shopify.com/s/files/1/0603/6648/7720/files/rigly_003_receive.png?v=1668462463" alt="auction bitcoin payment QR code" width="140" height="138" /></strong></p>
<p><strong>Next Steps</strong></p>
<div style="padding-left: 20px;">1) Send payment in bitcoin</div>
<div style="padding-left: 20px;">2) Enter your mining pool details</div>
<p><strong>Do you currently use a mining pool?</strong></p>
<p><h3>Checkout here: <a href="{{frontend_domain_url}}/product/{{product_handle}}">{{frontend_domain_url}}/product/{{product_handle}}</a></h3></p>
<p>If you already use a pool, please enter your mining pool stratum details here:</p>
<div style="padding-left: 20px;"><a href="{{frontend_domain_url}}/profile">{{frontend_domain_url}}/profile</a></div>
<p><strong>If you don't currently use a mining pool?</strong></p>
<p>Please create a pool account. Examples:</p>
<p><strong>Braiins:</strong> https://braiins.com/pool</p>
<p><strong>Luxor:</strong>&nbsp;https://app.luxor.tech</p>
<p><strong>F2 Pool:</strong>&nbsp;https://www.f2pool.com/</p>
<p>Once you create your mining pool account, please enter it on the form above. If you need help creating an account, let us know.</p>
<p>&nbsp;</p>
<p><em><strong>Please pay your auction within 24 hours or you will forfeit it</strong></em></p>
<p>Once your auction payment is received, your mining hashrate will be configured per your details. You will receive a separate email with additional details once your mining begins.</p>
<p>Thanks for using Rigly!</p>
<div style="line-height: 1.15; text-align: center;">&nbsp;</div>
<div style="line-height: 1.15; text-align: center;">&nbsp;</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center></div>
