<div style="padding: 38px 20px; background-color: #ffffff;">
<div style="color: #252525; font-weight: 400; font-size: 17px;">Dear <span style="font-family: 'Cabin', sans-serif; color: #e94b3f; font-size: 18px; font-weight: 600;">{$customer_name}</span></div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">&nbsp;</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">A voucher code has been assigned to you in context of your active participation.</div>
<div style="font-family: 'Cabin', sans-serif; color: #e94b3f; font-size: 18px; font-weight: 600; border: 2px solid #e94b3f; padding: 15px; margin: 24px auto; max-width: 200px; text-align: center; background: #eee;">{$discount_code}</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">This Voucher code can be used for your next purchase with us.</div>
<p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">Thanks,<br />&nbsp; Team Rigly</p>
</div>
