<div style="padding: 38px 20px; background-color: #ffffff;">
<div style="color: #252525; font-weight: 400; font-size: 17px;">Dear <span style="font-family: 'Cabin', sans-serif; color: #e94b3f; font-size: 18px; font-weight: 600;">{{customer_name}}</span></div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">&nbsp;</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">Thank you for your active participation in the rig auction!</div>
<div style="font-family: 'Cabin', sans-serif; color: #252525; font-size: 18px; font-weight: 600; margin-top: 24px;">Product Information</div>
<div style="display: flex;">
<div>&nbsp;</div>
<div>
<div style="font-family: 'Cabin', sans-serif; color: #e94b3f; font-size: 18px; font-weight: 600; padding-left: 20px;">{{product_name}}</div>
<div style="color: #252525; font-size: 17px; padding-left: 20px;">Base Price- {{currency}} {{base_price}}</div>
<div style="color: #252525; font-size: 17px; padding-left: 20px;">Your Bid- {{currency}} {{bid_amount}}</div>
<div style="color: #252525; font-size: 17px; padding-left: 20px; margin-bottom: 24px;">Highest Bid- {{currency}} {{highest_bid}}</div>
</div>
</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">Please check out Rigly in the future for your bitcoin mining needs.</div>
<p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">Thanks,<br />&nbsp; Team Rigly</p>
</div>
