<div style="padding: 38px 20px; background-color: #ffffff;">
<div style="color: #252525; font-weight: 400; font-size: 17px;">Dear <strong>{$customer_name}</strong>,</div>
<br />
<div style="color: #252525; font-weight: 400; font-size: 17px;">You are the highest bidder in our auction but you have not met the reserve price so, you won't be eligible for winning the auction. Please bid more as the reserve price is <strong>{$currency}{$reserve_price}</strong>.</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">&nbsp;</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;"><strong>Hurry Up &amp; Bid Now!</strong></div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">The auction will end at : <strong>{$end_date}</strong></div>
<div style="color: #252525; font-weight: 400; font-size: 17px;">&nbsp;</div>
<div style="color: #252525; font-weight: 400; font-size: 17px;"><strong>Product Name - </strong><span style="color: #e94b3f; font-family: Cabin, sans-serif; font-size: 18px; font-weight: 600;">{$product_name}</span></div>
<p style="color: #252525; font-weight: 400; font-size: 17px; margin-top: 24px;">Regards<br />{$domain_name}</p>
</div>
